*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;

}
html{
    overflow-x: hidden ;
}
body{
    overflow-x: hidden;
    background: var(--color-baground-center);
}

:root{
    /* Color */
    --color_standard: #0d1117; 
    --color_standard_hover: #121821;
    --color-baground-center: #202937;
    --color_border: #333;
    --color_elements: #40cb24;
    --color_elements_hover: #36ad1f;
    --color_background: #ffffff;

    /* Text */
    --text_color: white;
    --text_color_pip: rgb(0, 0, 0);
    --text_color_title: rgb(255, 255, 255);
    --text_color_hover: #c7c7c7;
    --text_size_standard: 1.2em;
    --text_size_pip: 1em;
    --placeholder_text:0.8em;
    --text_title: 2em;
    --font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    /* Border */
    --border_radius: 5px;
    --border: 2px solid white;
    --border_black: 2px solid black;
}
.logo img{
    width: 200px;
    position: absolute;
    top: -20px;
    left: -50px;
}
aside{
    position: fixed;
    width: 25%;
    height: 100vh;
    background: var(--color_standard);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
}
.right{
    position: fixed;
    width: 25%;
    height: 100vh;
    background: var(--color_standard);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
    right: 0;
}
aside ul{
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 20px;
}
aside ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    gap: 20px;
    border-radius: 40px;
    padding: 20px 50px;
}
aside ul li:hover{
    background: var(--color_standard_hover);
}
aside ul li:first-child:hover{
    background: none;
}
aside ul li a{
    text-decoration: none;
    color: var(--text_color);
    font-size: var(--text_size_standard);
    font-family: var(--font);
}
.navbaricon{
    width: 24px;
    height: 24px;
}
.navbaricon path{
    fill: var(--text_color);
}
.make_a_pipe{
    background: var(--color_elements);
}
.make_a_pipe:hover{
    background: var(--color_elements_hover);
    cursor: pointer;
}
.make_a_pipe h5{
    color: var(--text_color);
    font-size: var(--text_size_standard);
    font-family: var(--font);
}
.new_post_title{
    color: var(--text_color_title);
    font-size: var(--text_title);
    font-family: var(--font);
    margin-top: 20px;
    margin-left:30%;
    position: absolute;
    left: 0;
    top: 0;
}
form{
    display: flex;
    flex-direction: column;
    background-color: var(--color_background);
    color: var(--text_color_pip);
    font-size: var(--text_size_pip);
    font-family: var(--font);
    border: var(--border);
    border-radius: var(--border_radius);
    margin: 20px;
    margin-top: 150px;
    
    width: 40%;
    padding-top: 40px;
    height: fit-content;
    position: relative;
}  
form input{
    border: var(--border);
    border-radius: var(--border_radius);
    color: var(--text_color_pip);
    font-size: var(--text_size_pip);
    font-family: var(--font);
    padding: 5px;
}
form textarea{
    border: var(--border);
    border-radius: var(--border_radius);
    color: var(--text_color_pip);
    font-size: var(--text_size_pip);
    font-family: var(--font);
    padding: 5px;
}
form input::placeholder{
    font-size: var(--placeholder_text);
}
form textarea::placeholder{
    font-size: var(--placeholder_text);
}
form .dropdown img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
}
.name_input{
   margin-left:110px;
   margin-bottom: 30px;
}
.name{
    border: var(--border_black);
    border-radius: var(--border_radius);
}
.name_input input{
    width: 450px;
}
.text_input{
    margin-left:110px;
}
.text_input textarea{
    width: 450px;
    height: 200px;
    max-width: 450px;
    max-height: 200px;
    min-width: 450px;
    min-height: 200px;
}
.text{
    border: var(--border_black);
    border-radius: var(--border_radius);
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 600,
    'GRAD' 0,
    'opsz' 48;
    position: absolute;
    color: white;
    font-size: 200px;
    transition: transform 1s ease;
    z-index: 1;
    bottom: 40px;
    margin-left: 500px;
}
.send-animation {
    transform: translateX(100px); /* Flyt ikonet til højre */
}
.submit{
    background-color:var(--color_elements);
    color: var(--text_color);
    font-size: var(--text_size_standard);
    font-family: var(--font);
    padding: 5px;
    border-radius: var(--border_radius);
    margin-top: 20px;
    margin-left: 110px;
    margin-bottom: 30px;
    padding-left:50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 450px;
    z-index: 2;
}
.submit:hover{
    background-color:var(--color_elements_hover);
    cursor: pointer;
}

.dropdown {
    margin-top: -20px; ;
    position: relative;
    display: inline-block;
}
.dropdown button {
    margin-bottom: 60px;
}
.dropdown-content {
    margin-top: 100px;
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5px;
    height: fit-content;
    z-index: 1;
    border: var(--border_black);
    border-radius: var(--border_radius);
}

.dropdown-content a {
    display: block;
    padding: 8px;
    text-align: center;
    height: 100px;
    width: 100px;
    position: relative;

}

.dropdown-content img {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.avatar-1:hover{
    background-color: var(--color_elements_hover);
}
.avatar-2:hover{
    background-color: var(--color_elements_hover);
}
.avatar-3:hover{
    background-color: var(--color_elements_hover);
}
#selected_avatar{
    cursor: pointer;
}
main, #Posts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 600px;
    margin: 0 auto;
    margin-top: 20px;
    justify-content: flex-start;
    color: var(--text_color);
    width: 100%;
    height: 100vh;
}
.post{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: var(--border);
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    position: relative;
}
.actions{
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 20px;
    font-family: var(--font);
}
.save{
    background: var(--color_elements);
    padding: 10px 20px;
    border-radius: 50px;
}
.save:hover{
    background: var(--color_elements_hover);
    cursor: pointer;
}
.delete{
    background: red;
    padding: 10px 20px;
    border-radius: 50px;
}
.delete:hover{
    background: rgb(156, 0, 0);
    cursor: pointer;
}
.avatar_overskrift{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    position: relative;
    margin-bottom: 20px;
}
.avatar{
    width: 70px;
    border-radius: 50%;
    border: var(--border);
}
.overskrift{
    font-size: 30px;
    font-weight: 800;
}
.icons{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}
.icons div{
    display: flex;
    gap: 5px;
}
.icons div svg{
    color: var(--text_color);
    fill: var(--text_color);
    width: 20px;
    height: 20px;
    margin-right: 5px;
    position: relative;
}
.icons div svg path{
    fill: var(--text_color);
    color: var(--text_color);
    width: 20px;
    height: 20px;
}
.content{
    margin-bottom: 20px;
    min-width: 100%;
    max-width: 100%;
    font-family: var(--font);
}
.other_info{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0 -15px 0;

}
.other_info p{
    margin: 0;
    font-family: var(--font);
    align-items: flex-end;
    font-size: 10px;
}
.edit:hover{
    cursor: pointer;
    color: var(--text_color_hover);

}
.timestamp{
    margin: 10px 0 -15px 0;
    width: 100%;
    font-size: 10px;
    display: flex;
    justify-content: flex-end;
    cursor: default;
}
#Profile_search{
    border: var(--border);
    border-radius: var(--border_radius);
    color: var(--text_color_pip);
    font-size: var(--text_size_pip);
    font-family: var(--font);
    padding: 5px;

}

.profile_title{
    color: var(--text_color_title);
    font-size: var(--text_title);
    font-family: var(--font);
    margin-top: 20px;
}


.explore_title{
    color: var(--text_color_title);
    font-size: var(--text_title);
    font-family: var(--font);
    margin-top: 20px;
}